<div class="product-center product clearfix">
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <div class="hide_for_mobile main_content">
      <h1 class="name {% if settings.reviews_enable == false %}no-review{% endif %}">{{product.title}}</h1>
      {% if settings.product_info_brand %}
      <div class="vendor">{{product.vendor | link_to_vendor}}</div>
      {% endif %}
      {%- comment -%}
      <div class="review">

        <script src="https://widget.reviews.co.uk/product/dist.js"></script>

        <script src="https://widget.reviews.co.uk/rating-snippet/dist.js"></script>
        <link rel="stylesheet" href="https://widget.reviews.co.uk/rating-snippet/dist.css" />

        <script>
          ratingSnippet("ruk_rating_snippet",{
            store: "mokee",
            color: "#f47e27",
            linebreak: true,
            text: "Reviews"
          });
        </script>

        <div class="ruk_rating_snippet" data-sku="NCQ2"></div>
        {%- if settings.reviews_enable -%}
        <a class="smoothscroll" href="#product-reviews-a">
          <span class="shopify-product-reviews-badge" data-id="{{product.id}}"></span>
        </a>
        {%- endif -%}
        {%- if settings.product_social_share and settings.product_design != "compact2" -%}
        <div class="share">
          {%- include "add-this" -%}
        </div>
        {%- endif -%}
      </div>
      {%- endcomment -%}
      <div class="product_short_decription">
        {{product.description}}
      </div>
    </div>

    {%- comment -%}  INFO AND STOCK  {%- endcomment -%}

    {% if settings.product_info_sku or settings.product_info_status %}
    <div class="description {%- if settings.product_info_status == false and settings.product_info_brand == false and settings.product_info_sku == false -%}{{- " hide" -}}{%- endif -%}">
      <p id="product_sku" class="variant-sku sku_wrapper{%- if current_variant.sku == blank or settings.product_info_sku == false-%}{{- " hide" -}}{%- endif -%}">
        <span>{{'products.product.sku' | t}}</span> 
        <span class="sku" itemprop="sku">{{ current_variant.sku }}</span>
      </p>
      <p class="variation-availability{%- if settings.product_info_status == false -%}{{- " hide" -}}{%- endif -%}">
        <span>{{- 'products.product.stock' | t}}</span>
        {%- if current_variant -%}
          {%- if current_variant.available -%}
          {%- if current_variant.inventory_management == "shopify" and current_variant.inventory_policy != "continue" -%}
          {%- if current_variant.inventory_quantity > 0 -%}
          <span class="stock stock-{{ section.id }} in-stock">{%- if settings.product_inventory == '1' -%}{{- current_variant.inventory_quantity  -}}{{- " " -}}{%- endif -%}{{ 'products.product.in_stock' | t | escape }}</span>
          {%- else -%}
          <span class="stock stock-{{ section.id }} out-of-stock">{{ 'products.product.out_of_stock' | t | escape }}</span>
          {%- endif -%}
          {%- else -%}
          <span class="stock stock-{{ section.id }} in-stock">{{ 'products.product.in_stock' | t | escape }}</span>
          {%- endif -%}
          {%- else -%}
          <span class="stock stock-{{ section.id }} out-of-stock">{{ 'products.product.out_of_stock' | t | escape }}</span>
          {%- endif -%}
          {%- else -%}
          <span class="stock stock-{{ section.id }} out-of-stock">{{ 'products.product.unavailable' | t | escape }}</span>
          {%- endif -%}
          </p>
    </div>
    {% endif %}
    {%- comment -%} PRICE {%- endcomment -%}
    <div class="countdown-wrapper">
      {%- include 'limited-offer' -%}
    </div>
    <div class="product-focus">



      {%- comment -%} SHORT DESCRIPTION {%- endcomment -%}
      {%- if instructions.short_description != blank -%}
      <div class="short-description">{{- instructions.short_description  -}}</div>
      {%- endif -%}
      {%- comment -%} QUANTITY AND ADD TO CART {%- endcomment -%}
      <div id="product">
        {%- if product.available -%}
        <meta itemprop="availability" itemtype="http://schema.org/ItemAvailability" content="http://schema.org/InStock" />
        {%- form 'product', product, id: "product-form", class: "product-form variations_form cart", data-product-id: product.id -%}
        <span class="mw-product-options"></span>
        <div class="custom_color_option  options{% if product.variants.size <= 1 %} none{% endif %}{%- if instructions.external_link != blank and instructions.external_btn != blank -%}{{- " hide" -}}{%- endif -%}">
          <div class="options2">
            {%- if product.variants.size > 1 -%}
            <h2>{{'products.product.available_options' | t}}</h2>
            {%- endif -%}
            {%- unless product.options.size == 1 and product.variants[0].title == 'Default Title' -%}
            <div id="variations-{{section.id}}" class="variations">
              <div id="variations-content-{{section.id}}">
                {%- for option in product.options_with_values -%}
                <div class="selector-wrapper{{- " " -}}{{- option.name | handlezie -}}{{- " " -}}variation-select-{{ section.id }}-{{ forloop.index0 }}">
                  <label {% if option.name == 'default' %} class="hide"{% endif %} for="single-option-selector-{{ forloop.index0 }}">{{- option.name -}}{%- if settings.product_swatch_color_advanced -%}:<span class="option-select-value" id="option-select-value-{{ section.id }}-{{ forloop.index0 }}">{{- option.selected_value -}}</span>{%- endif -%}</label>
                  <select id="single-option-selector-{{ section.id }}-{{ forloop.index0 }}" class="single-option-selector single-option-selector-{{ section.id }} {{ option.name | handleize}}_option_dropdown" data-index="option{{ forloop.index }}" data-option="option{{ forloop.index }}">
                    {%- for value in option.values -%}
                    <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                    {%- endfor -%}
                  </select>
                </div>
                {%- endfor -%}
              </div>
            </div>
            {%- endunless -%}
            <div id="product-variants" class="">
              <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="variation-select no-js">
                {%- for variant in product.variants -%}
                {%- if variant.available -%}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                  {{- variant.title -}}
                </option>
                {%- else -%}
                <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t | escape }}</option>
                {%- endif -%}
                {%- endfor -%}
              </select>
            </div>
          </div>
        </div>
        <div class="cart">
          <div class="add_to_cart clearfix ">
            <div class="variations_button {%- unless current_variant -%}{{" hide"}}{%- endunless -%}{%- if instructions.external_link != blank and instructions.external_btn != blank -%}{{- " hide" -}}{%- endif -%}">
              <div class="add-cart-wrapper">
                {% comment %}
                <div class="quantity-wrapper">
                  <p>{{'products.product.quantity' | t}}</p>
                  <div class="quantity">
                    <input type="text" name="quantity" class="quantity-cart-{{product.id}}" id="quantity_wanted" size="2" value="1" />
                    <a href="javascript:void(0);" class="q_up" data-product_id="{{product.id}}" id="q_up"><i class="fa fa-plus"></i></a>
                    <a href="javascript:void(0);" class="q_down" data-product_id="{{product.id}}" id="q_down"><i class="fa fa-minus"></i></a>
                  </div>
                </div>
                {% endcomment %}

                <div class="quantity__btn">
                  <p>Items in your collection:</p>
                  <strong>0</strong>
                  <input type="number" id="quantity_wanted" name="quantity" value="1" min="1" step="1">
                </div>
                {%- if settings.price_range and product.price_varies -%}
                <div class="price-range price">
                  <span class="price-new"><span class="money">{{- product.price_min | money -}}</span></span> - <span class="price-new"><span class="money">{{- product.price_max | money -}}</span></span>
                </div>
                {%- endif -%}
                <div class="product-single__price-{{- section.id -}}">
                  <div id="price" class="price">
                    {% comment %}
                    <span id="ComparePrice-{{- section.id -}}" class="product_ComparePrice amount price-old{%- unless current_variant.compare_at_price > current_variant.price %}{{- " hide" -}}{%- endunless -%}">
                      <span class="money">
                        {%- if current_variant.compare_at_price > current_variant.price -%}
                        {{- current_variant.compare_at_price | money -}}
                        {%- endif -%}
                      </span>
                    </span>
                    {% endcomment %}
                    {%- if current_variant.compare_at_price > current_variant.price -%}
                    <span  id="ProductPrice-{{- section.id -}}" class="Product-reg_Price amount price-new">
                      Total price: 
                      <span class="money" data-compare_price="{{- current_variant.compare_at_price | money_without_currency | replace:",","." -}}">
                        {{- current_variant.price | money -}}
                      </span>
                    </span>
                    {%- else -%}
                    Total price: 
                    <span id="ProductPrice-{{- section.id -}}" class="Product-reg_Price amount price-new">
                      <span class="money" data-compare_price="{{- current_variant.compare_at_price | money_without_currency | replace:",","." -}}">{{- current_variant.price | money -}}</span>
                    </span>
                    {%- endif -%}
                    <span class="hide" itemprop="price">{{- product.price | money_without_currency -}}</span>
                    <meta itemprop="priceCurrency" content="GBP" />
                  </div>
                </div>



              </div>
              <div class="add_btn_sec">

                {%- if settings.dynamic_checkout -%}
                {%- if settings.cart_terms_enable -%}
                {%- assign terms_conditions_url = '#' -%}

                {%- if settings.cart_terms_page != blank -%}
                {%- assign terms_conditions_url = '/pages/' | append: settings.cart_terms_page -%}
                {%- endif -%}
                <div class="product-cart__condition">
                  <input type="checkbox" id="product-cart__agree-{{ section.id }}" data-message="{{ 'cart.general.terms_conditions_message' | t | escape }}" />
                  <label for="product-cart__agree-{{ section.id }}">{{ 'cart.general.terms_conditions_html' | t : terms_conditions_url: terms_conditions_url }}</label>
                </div>
                {%- endif -%}
                <div class="dynamic-payment-button" id="product-buy__1click-{{ section.id }}">
                  {{- form | payment_button -}}
                </div>
                {%- endif -%}
                {% comment %}
                <div  class="checkout_btn">
                  <a href="/checkout" class="checkout__btn">GO TO CHECKOUT</a>
                </div>
                {% endcomment %}
                <input type="submit" value="{%- unless current_variant.available -%}{{- 'products.product.sold_out' | t | escape -}}{%- else -%}add collection to cart{%- endunless -%}"
                       id="AddToCart-{{ section.id }}"
                       class="button AddToCart-single_product button-cart not-empty add-to-cart{%- unless current_variant -%}{{- " hide" -}}{%- endunless -%}" 
                       {%- unless current_variant.available -%}{{- " " -}}disabled="disabled"{{- " " -}}{%- endunless -%} 
                       data-loading-text="{{'products.product.loading' | t | escape}}"
                       data-addtocart="{{'products.product.add_to_cart' | t | escape}}" 
                       data-unavailable="{{'products.product.unavailable' | t | escape}}"
                       data-soldout="{{'products.product.sold_out' | t | escape}}" />
              </div>              
            </div>
            <div class="selected_product_save_price">
              <div class="selected_product_name"></div>
              <div class="save_price"><span>You Save </span> <strong>{{- current_variant.compare_at_price | minus: current_variant.price | money -}}</strong></div>
            </div>

            {%- if instructions.external_link != blank and instructions.external_btn != blank -%}
            {%- include 'product-external-btn' -%}
            {%- endif -%}
            <div class="clearfix"></div>
            {%- if settings.product_question -%}
            <a href="javascript:void(0);" class="button btn-default button-product-question"><i class="fa fa-envelope" style="margin-right: 5px;"></i>{{'products.product.ask_about_this_product' | t}}</a>
            {%- endif -%}
          </div>
        </div>
        <div class="hide">
          {% include 'iwish_v2' with 'iwishproduct' %}
        </div>
        {%- endform -%}
        {%- else -%}
        <div class="cart">
          <div class="add_to_cart clearfix">
            {%- if instructions.external_link != blank and instructions.external_btn != blank -%}
            <div class="hide">
              {%- endif -%}
              <div class="add-cart-wrapper">
                <input type="button" value="{{'products.product.sold_out' | t | escape}}" id="button-cart" data-loading-text="{{'products.product.loading' | t | escape}}" class="button button-cart button-cart-sold-out" disabled/>
              </div>
              {%- if instructions.external_link != blank and instructions.external_btn != blank -%}
            </div>
            {%- include 'product-external-btn' -%}
            {%- endif -%}
            <div class="clearfix"></div>
            {%- if settings.product_question -%}
            <a href="javascript:void(0);" class="button btn-default button-product-question"><i class="fa fa-envelope" style="margin-right: 5px;"></i>{{'products.product.ask_about_this_product' | t}}</a>
            {%- endif -%}
          </div>
        </div>
        <meta itemprop="availability" itemtype="http://schema.org/ItemAvailability" content="http://schema.org/OutOfStock" />
        {%- endif -%}

        {%- comment -%} WISHLIT COMPARE QUESTIONS SIZECHART{%- endcomment -%} 
        {%- if settings.wishlist_enable or settings.compare_enable or settings.product_size_chart -%}
        <div class="links clearfix">
          {%- if settings.wishlist_enable -%}
          <div class="ex-link">
            {%- assign my_product = product -%}
            {%- include 'wishlist' -%}
          </div>
          {%- endif -%}
          {%- if settings.compare_enable -%}
          <div class="ex-link">
            {%- assign my_product = product -%}
            {%- include 'compare' with true -%}
          </div>
          {%- endif -%}
          {%- if settings.product_size_chart and settings.product_size_chart_page != '' -%}
          <div class="ex-link">
            <a data-_qid="#quickview-btn-{{- product.id -}}" class="button-product-sizechart"  href="javascript:void(0)" data-sizechart="#popup-product-sizechart">{{'products.product.size_chart' | t}}</a>
          </div>
          {%- endif -%}
        </div>
        {%- endif -%}
      </div>
    </div>
    {%- if instructions.trust_sale_img != blank -%}
    <div class="trust-sale-img">
      <img src="{{- instructions.trust_sale_img | file_img_url : "master" -}}">
    </div>
    {%- endif -%}
    {%- include 'product-question' -%}
    {%- include 'product-sizechart' -%}
  </div>
</div>
<style>
  .shogun-root {
    clear: both;
}
  .add-cart-wrapper input#quantity_wanted{
    visibility: hidden;
  }
  .main_content {
    margin-bottom: 50px;
  }
  .templateProduct .product-summary h1.name {
    text-align: center;
    padding-top: 50px;
  }
  .product_short_decription {
    text-align: center;
  }
  .add-cart-wrapper .quantity-nav {
    visibility: hidden;
  }
  .deliver {
    color: #4a4a4a;
    font-weight: bold;
    padding: 26px !important;
  }
  .color_hide{
    display:none;
  } 
  .color_show{
    display:block !important;
  }
  .product-info .cart .add_to_cart .button-cart {
    width: 235px;
    font-size: 15px !important;
    float: right;
    margin: 0 !important;
    font-weight: 600;
    padding: 14px 15px;
    height: 100px;
  }
  .product-info .cart .add_to_cart input[disabled] {
    background: url(https://cdn.shopify.com/s/files/1/0255/4029/6738/t/44/assets/ajax-loader.gif?v=1618907934);
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
    background-position: center;
    background-size: 40px;
  }
  .variations_button {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .product-section-wrapper .product-info {
    background: transparent;
  } 
  .shogun-image-container img.shogun-image {
    margin: 30px 0;
  }
  .templateProduct .add-cart-wrapper {
    display: flex;
    padding: 0px 20px;
    border: 2px solid #e6e6e6;
    margin-bottom: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    height: 100px;
    justify-content: space-between;
    padding: 20px;
  }
  .product-info .cart .add_to_cart p {
    text-transform: unset;
    font-weight: 500;
    font-size: 15px;
  }
  .product-info .price .price-new {
    font-size: 20px;
    font-weight: 600 !important;
  }
  .add-cart-wrapper div#price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }  
  .templateProduct .quantity__btn {
    display: flex;
    align-items: center;
  }
  .add_btn_sec {
    padding: 22px;
    float: left;
    width: auto;
  }
  .product-info .cart .add_to_cart {
    background: transparent;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: unset;
    padding: 0;
    margin-top: 40px;
  }
  .product-info .cart .add_to_cart .button-cart {
    width: 235px;
    font-size: 15px !important;
    float: right;
    margin: 0 !important;
    font-weight: 600;
    padding: 14px 15px;
    height: 100px;
    background-color: #eee;
    border: 2px solid #e6e6e6;
    border-radius: 15px;
    color: #000 !important;
    text-transform: capitalize;
  }
  .product-info .cart .add_to_cart .button-cart:hover {
    background-color: #17ccc2;
    color: #fff !important;
  }
  .templateProduct .product-info .cart {
    position: relative;
  }
  .selected_product_save_price {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .selected_product_save_price .selected_product_name {
    width: 100%;
    display: flow-root;
    border: 2px solid #e6e6e6;
    margin-bottom: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
  }
  .selected_product_save_price .selected_product_name {
    width: 100%;
    display: grid;
  }
  .selected_product_save_price .selected_product_name .mw-option-swatch {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .selected_product_save_price .selected_product_name .mw_product_option_label{
    float: unset;
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
  }
  .selected_product_save_price .selected_product_name .mw_product_option_label::after{
    display:none;
  }
  
  .save_price {
	clear: both;
    font-size: 15px;
    margin-top: 10px;
    display: inline-block;
    bottom: -5px;
    margin-left: 0px;
    width: 367px;
    padding: 0 15px;
    text-align: center;
  }
  .save_price span {
    color: #17ccc2;
  }
  @media(min-width:700px) and (max-width:1024px){
    .templateProduct .quantity__btn {
      line-height: normal;
      height: 30px;
    }
    .product-info .price .price-new {
      font-size: 14px;
    }
    .templateProduct .add-cart-wrapper{
      padding: 10px 20px;
    }
  }
  @media(max-width:767px){
    .variations_button {
      flex-direction: column;
    }
    .selected_product_save_price {
      flex-direction: column-reverse;
    }
    .templateProduct .add-cart-wrapper {
      height: auto;
    }
    .save_price{
      width: auto;    
    }
    .product-info .price .price-new {
      font-size: 15px;
      font-weight: 600 !important;
    }
    .templateProduct .quantity__btn strong {
      order: 1;
    }
    .add-cart-wrapper div#price {
      justify-content: space-between;
    }
    .product-single__price-minicot-product-template {
      width: 100%;
    }
  }
</style>

<script>
  jQuery(document).on("click",".swatch-value-container",function(){ 
    var color_name = jQuery(this).data('value-text'); 
    jQuery(".variant_change_date").each(function(){ 
      var col_name = jQuery(this).data('variant_name');
      if($('.mattress_selection .mw_product_option_label').hasClass('content_hide')){}else{
        if(color_name == col_name){ 
          jQuery(".variant_change_date").removeClass("color_show");   
          jQuery(".variant_change_date").addClass("color_hide");   
          jQuery(this).addClass("color_show"); 
        }else{
          jQuery(".variant_change_date").hide();   
        } 
      }
    }); 
  });  
</script>