<div id="content" class="col-md-12 center-column content-with-background">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
      <div class="about-area">
        <div class="about-section">
          {%comment%}
          {%- section "about-section" -%}
          {%endcomment%}
          
          <div class="column main">
             <input name="form_key" type="hidden" value="mCdQJNNxnFdtbD1r">
             <div class="us-cont">
                <div class="us-cont__primary">
                   <div class="us-cont__primary--title">
                      <h2>{{settings.s1_heading}}</h2>
                   </div>
                   <img class="us-cont__primary--cloud-1" src="https://cdn.shopify.com/s/files/1/0255/4029/6738/files/cloud_white.png" alt="could_img">
                   <!-- <img class="us-cont__could" src="img/cloud_white.png" alt="could_img"> -->
                   <img class="us-cont__primary--cloud-2" src="https://cdn.shopify.com/s/files/1/0255/4029/6738/files/cloud_white.png" alt="could_img">
                   <img class="us-cont__primary--cloud-3" src="https://cdn.shopify.com/s/files/1/0255/4029/6738/files/cloud_1.png" alt="could_img">
                </div>
                <div class="us-cont">
                   <article class="us-cont__secondary">
                      <p>We are a small team of passionate baby room designers. We want to give babies the best start in life. Our collection of baby furniture stands out for its quality, design and exceptional value!</p>
                   </article>
                   <div class="us-cont__primary--bed"></div>
                   <article class="us-cont__secondary">
                      <h3>{{settings.s2_heading}}</h3>
                      <p>{{settings.s2_des}} </p>
                   </article>
                   <img class="us-cont__primary--photo" src="https://cdn.shopify.com/s/files/1/0255/4029/6738/files/gif_01.gif" alt="kid_img">
                   <article class="us-cont__secondary">
                      <h3>{{settings.s3_heading}}</h3>
                      <p>{{settings.s3_des}}</p>
                   </article>
                   <img class="us-cont__primary--photo" src="https://cdn.shopify.com/s/files/1/0255/4029/6738/files/gif_02.gif?11216" alt="ship_img">
                   <article class="us-cont__secondary">
                      <h3>{{settings.s4_heading}}</h3>
                      <p>{{settings.s4_des}}</p>
                   </article>
                   <img class="us-cont__primary--photo" src="https://cdn.shopify.com/s/files/1/0255/4029/6738/files/gif_03.gif?11216" alt="products_img">
                   <article class="us-cont__secondary">
                      <h3>{{settings.s5_heading}}</h3>
                      <p>{{settings.s5_des}}</p>
                   </article>
                </div>
                <div class="us-cont__primary-end group">
                   <img class="us-cont__primary--photo-1" src="https://cdn.shopify.com/s/files/1/0255/4029/6738/files/gif_04.gif?11216" alt="world_img">
                   <article class="us-cont__secondary-end">
                      <h2>{{settings.s6_heading}}</h2>
                      <p>{{settings.s6_des}}</p>
                   </article>
                </div>
             </div>
          </div>
          
        </div>
      </div>
      </div>
    </div>
  </div>
</div>